<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Textinput - jQuery Mobile Demos</title>
    <link rel="stylesheet" href="jqm/jquery.mobile-1.4.5.min.css">
    <link rel="shortcut icon" href="resource/jqm/images/favicon.ico">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <script src="resource/js/jquery/jquery.js"></script>
    <script src="resource/jqm/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" class="jqm-demos" data-quicklinks="true">
	<div data-role="header" class="jqm-header">
		<h2>患者信息</h2>
	</div>
	
		<div data-role="main" class="ui-content jqm-content">
			<div data-demo-html="true">
				<form>
					<div class="ui-field-contain" id="opt-shadow">
						<fieldset data-role="controlgroup" data-type="horizontal">
							<legend>
								性别
							</legend>
							<label for="on">男</label>
							<input type="radio" name="shadow"id="on" checked> 
							<label for="off">女</label>
							<input type="radio" name="shadow" id="off">
						</fieldset>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>