<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Textinput - jQuery Mobile Demos</title>
    
    <link rel="stylesheet" href="../../resource/jqm/jquery.mobile-1.4.5.min.css">
    <link rel="shortcut icon" href="../../resource/jqm/images/favicon.ico">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <script src="../../resource/js/jquery/jquery.js"></script>
    <script src="../../resource/jqm/jquery.mobile-1.4.5.min.js"></script>
    
    <script type="text/javascript">
    	$(document).ready(function() {
    		$(document).on('click','#btnLogin',function(){
    			$.mobile.changePage('patientInfo.html','slideup');
    		})
    	})
    </script>
</head>
<body>
<div data-role="page" class="jqm-demos" data-quicklinks="true">
	<div data-role="header" class="jqm-header">
		<h2>智能导诊2</h2>
	</div>
	<div data-role="main" class="ui-content jqm-content">
		 <div data-demo-html="true">
	        <form>
	        	<!-- <div data-role="fieldcontain">
		             <label for="text-1">用户名</label>
		             <input type="text" data-clear-btn="true" name="text-1" id="text-1" value="">
	             </div>	             
	             <div data-role="fieldcontain">
		             <label for="text-3">密码</label>
		             <input type="password" data-clear-btn="true" name="text-3" id="text-3" value="" autocomplete="off">
	             </div> -->
	             <label for="text-1">用户名</label>
		         <input type="text" data-clear-btn="true" name="text-1" id="text-1" value="">
		         <label for="text-3">密码</label>
		         <input type="password" data-clear-btn="true" name="text-3" id="text-3" value="" autocomplete="off">
		         <a href="" id="btnLogin" class="ui-btn ui-corner-all ui-shadow ui-btn-active">登录</a>
	        </form>
        </div>
	</div>
</div>
</body>
</html>